.home{
    .homeBanner{
        display: flex;
        justify-content: center;
        background-color: rgb(1, 1, 36);
        color: white;
        padding: 100px 0;
        .container{
            width: 1400px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                h1{
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: bolder;
                }

                h2{

                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 400;
                    padding: 10px 0
                }
                i{
                    font-weight: 300;

                }

                .title{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 0;
                }

                button{
                    background-color: #1dbf73;
                    border: none;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 5px;
                    width: max-content;
                    font-size: 16px;
                    cursor: pointer;
                    margin-top: 40px;
                }
            }

            .right{

            }
        }
    }
}